<p id="notice"><%= notice %></p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Show</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Phone number:</strong>
        <%= @user.phone_number %>
      </p>    
    </li>
  </ul>
  <div class="card-body">
    <%= link_to 'Edit', edit_user_path(@user), class:"card-link"%>
    <%= link_to 'Back', users_path, class:"card-link" %>
  </div>
</div>